
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  color: white;
}

.datagrid-container {
  align-items: center;
  height: 400px; /* Alto fijo */
  width: 800px; /* Ancho fijo */
}
