
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  color: white;
}

.datagrid-container {
  height: 520px; /* Alto fijo */
  width:1200px; /* Ancho fijo */
}
